@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .condesc {
        max-width: 900px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .concard {
        max-width: 900px !important;
    }
}

@media only screen and (max-width: 989px) {
    .colmaindesc {
        margin-top: 40px;
    }
}

body, html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #FAFAFA
}

.navibar {
    transition: all 0.2s;
}

.nav-link:hover {
    color: #ffffff;
    font-family: hind semibold;
}

.navibar:hover {
    cursor: pointer;
    color: #F06292 !important;
    transition: all 0.2s;
}

.navibar::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: #ffffff .3s;
    font-family: hind semibold;
}

.navibar:hover::after {
    width: 100%;
    transition: width .3s;
    font-family: hind semibold;
}

.btnlogin {
    background-color: #F5989D;
    color: White;
    padding: 7px 30px !important;
    border-radius: 5px;
    font-family: hind;
    transition: all 0.2s;
    cursor: pointer;
    margin-right: 27px;
}

.btnlogin:hover {
    background-color: #F06292;
    color: white !important;
}

.badge {
    background-color: #F5989D;
    font-family: muli;
    font-weight: normal;
    margin-left: 10px;
    font-size: 13px;
    margin-top: -5px;
}

.hrheader {
    width: 100%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E0E0E0;
    border: 0 none;
}

.pdate {
    font-family: muli semibold;
    letter-spacing: -0.5px;
    color: #424242;
    font-size: 15px;
}

.pnew {
    font-family: muli semibold;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: white;
    padding: 5px 10px;
    background-color: #F5989D;
    width: max-content;
    border-radius: 5px;
}

.ptitle {
    font-family: mermaid;
    font-size: 35px;
    color: #424242;
}

.ptitledesc {
    font-family: muli semibold;
    font-size: 15px;
    color: #616161;
}

.pnewtitle {
    font-family: mermaid;
    font-size: 35px;
    color: #424242;
    margin-top: -5px;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.pnewtitle:hover {
    transition: all 0.2s;
    color: #F5989D;
}

.pnewtitlesub {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #9E9E9E;
    font-style: italic;
}

.preadarticle {
    font-family: muli;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #F5989D;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.preadarticle:hover {
    text-decoration: underline;
}

.pthismonth {
    font-family: muli semibold;
    letter-spacing: -0.5px;
    font-size: 15px;
    color: #F5989D;
}

.pthismonthlabel {
    font-family: muli;
    letter-spacing: -0.5px;
    font-size: 12px;
    color: #757575;
    font-weight: bold;
}

.pthismonthlabeldesc {
    font-family: muli;
    letter-spacing: -0.5px;
    font-size: 15px;
    color: #424242;
    font-weight: bold;
    cursor: pointer;
}

.pthismonthlabeldesc:hover {
    transition: all 0.2s;
    color: #F5989D;
}

.pthismonthauthor {
    font-family: muli;
    letter-spacing: -0.5px;
    font-size: 13px;
    color: #757575;
    font-weight: bold;
}

/* Card design */

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
:root {
    --color: #F5989D;
    --transition-time: 0.5s;
}

* {
    box-sizing: border-box;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: max-content;
}

.card-blog {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    height: 20em;
    width: 18em;
    color: white;
    border-radius: 5px;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    -webkit-box-shadow: 1px 1px 15px -7px #000000;
    box-shadow: 1px 1px 15px -7px #000000;
}

.card-blog:hover {
    transform: rotate(0);
}

.card-blog h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: mermaid;
}

.card-blog p {
    font-size: 0.75em;
    font-family: muli;
    letter-spacing: -0.5px;
    margin-top: 0.5em;
    line-height: 1.5em;
}

.card-blog .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
    font-family: muli semibold;
    letter-spacing: -0.5px;
}

.card-blog:before, .card-blog:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card-blog:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card-blog:after {
    background: white;
    width: 200%;
    height: 200%;
}

.card-blog:hover {
    color: var(--color);
}

.card-blog:hover:before, .card-blog:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
    .info {
        justify-content: center;
    }
    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card-blog {
        max-width: calc(100vw - 4rem);
    }
}


@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }
    .card-blog {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }
    .info h1 {
        margin: 0;
    }
}

.btnloadmore {
    border: 2px solid #F5989D;
    font-family: muli semibold;
    letter-spacing: -0.5px;
    color: #F5989D;
    padding: 10px 50px;
    background-color: white;
    outline: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.btnloadmore:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #F5989D;
    color: white;
}

/* footer */
.pfootertitle {
    color: #424242;
    font-family: muli;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -1px;
    margin-right: 70px;
}

.pfootersubtitle {
    font-family: hind;
    font-size: 15px;
    color: #757575;
    cursor: pointer;
}

.pfootersubtitle:hover {
    transition: all 0.2s;
    color: #F06292;
}

.pfooterabout {
    font-family: muli;
    font-size: 15px;
    letter-spacing: -1px;
    color: #757575;
    margin-top: 20px;
}

.pemail {
    font-size: 15px;
    font-family: muli;
    letter-spacing: -1px;
    color: #F5989D;
    margin-left: 30px;
    margin-top: -10px;
}
